<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppuploaderNet</key>
	<string>b8804714-c679-4cb1-858f-00baeda9f84c</string>
	<key>BuildMachineOSBuild</key>
	<string>18F132</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>星耀娱乐</string>
	<key>CFBundleExecutable</key>
	<string>JuyouSpecialProject-mobile</string>
	<key>CFBundleIconFile</key>
	<string>Icon-57.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>ios6_signature/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.ios6-signature</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JuyouSpecialProject-mobile</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0.0</string>
	<key>CFBundleSignature</key>
	<string>9527</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx65de28d18f23d565</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weblauncher</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xygamespecial</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>16E226</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>12.2</string>
	<key>DTSDKBuild</key>
	<string>16E226</string>
	<key>DTSDKName</key>
	<string>iphoneos12.2</string>
	<key>DTXcode</key>
	<string>1020</string>
	<key>DTXcodeBuild</key>
	<string>10E1001</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSContactsUsageDescription</key>
	<string>请求访问通讯录</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>需要获取您的位置信息，为您提供更好的服务</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>需要获取您的位置信息，为您提供更好的服务</string>
	<key>NSLocationUsageDescription</key>
	<string>YES</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要获取您的位置信息，为您提供更好的服务</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>为您提供语音服务，需要开启您的麦克风！</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>修改头像需要访问相册</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
