<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G5019</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Marriott</string>
	<key>CFBundleExecutable</key>
	<string>Marriott</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>wanHao/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
				<string>AppIcon83.5x83.5</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.marriott.iphoneprod</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Marriott</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>9.11.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSpokenName</key>
	<string>Marriott Bonvoy</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.marriott.universal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>marriott</string>
				<string>ritzcarlton</string>
				<string>spg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1248</string>
	<key>DTAppStoreToolsBuild</key>
	<string>10G3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>16B91</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>12.1</string>
	<key>DTSDKBuild</key>
	<string>16B91</string>
	<key>DTSDKName</key>
	<string>iphoneos12.1</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>Ensighten App ID</key>
	<string>marriottiOSProd</string>
	<key>Ensighten Client ID</key>
	<string>marriott</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Bonvoy</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Marriott Bonvoy</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>waze</string>
		<string>comgooglemaps</string>
		<string>lyft</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>blob.core.windows.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>dkintekey.test.suprakim.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>iris.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>marriott.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string></string>
	<key>NSCalendarsUsageDescription</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>We'll use your camera to scan your card.</string>
	<key>NSContactsUsageDescription</key>
	<string>Add contacts to your Calendar invitation.</string>
	<key>NSFaceIDUsageDescription</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We'll use your current location to find nearby hotels, show accurate maps and provide directions.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We'll use your current location to find nearby hotels, show accurate maps and provide directions.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We'll use your photo library to scan your card.</string>
	<key>NSPrincipalClass</key>
	<string>MRTApplication</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.marriott.watchapp.rewardsLogin</string>
		<string>com.marriott.watchapp.glanceReservation</string>
		<string>com.marriott.watchapp.viewReservation</string>
		<string>com.marriott.watchapp.glanceNearbyProperty</string>
		<string>com.marriott.watchapp.viewNearbyProperty</string>
		<string>com.marriott.siri.unlockDoor</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Proxima-Nova-Black.otf</string>
		<string>Proxima-Nova-Bold.otf</string>
		<string>Proxima-Nova-Extrabold.otf</string>
		<string>Proxima-Nova-Light.otf</string>
		<string>Proxima-Nova-Medium.otf</string>
		<string>Proxima-Nova-Regular.otf</string>
		<string>Proxima-Nova-Semibold.otf</string>
		<string>Proxima-Nova-Thin.otf</string>
		<string>Swiss721BT-BlackCondensed.otf</string>
		<string>Swiss721BT-BoldCondensed.otf</string>
		<string>tt0113m.otf</string>
		<string>tt0805m_.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BonvoyLaunchImage</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewEdgeAntialiasing</key>
	<true/>
</dict>
</plist>
